.button {
    background-color: rgb(61, 150, 244);
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease 0s;
    line-height: 1.43;
    padding: 16px 30px ;
    
}
@media (max-width: 991.98px) {
    .button {
        padding: 14px 20px ;
    }
}

.button:hover {
    background-color: rgb(64, 173, 79)
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(13, 13, 17, 0.7);
}
.header__container {
    display: flex;
    column-gap: 35px;
    align-items: center;
    min-height: 116px;
    padding-top: 5px; 
    padding-bottom: 5px;
}

.icon-menu {
    background-color: black;
    display: none;
}
/* Вытягиваю логотип, корзину, кнопку в бургер меню */
.header__logo,
.header__cart,
.header__button {
    position:relative;
    z-index: 5;
}

.header__logo {
    
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
}
.menu__icon {
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    column-gap: 35px;
     row-gap: 10px ;  
}

.menu__link {
    font-size: 16px;
    line-height: 1.63;
   
}
.menu__link:hover {
    text-decoration: underline;
}
.header__cart {
}
.cart-header {
    display: flex;
    gap: 5px;
    align-items: center;
}
.cart-header__text {
    font-size: 18px;
    line-height: 1.56;
}
.cart-header__quantity {
   background-color: rgba(129, 129, 139, 0.3);
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 14px;
   font-weight: 500;
}
.cart-header:hover .cart-header__text{
    text-decoration: underline;
}
.header__button {
    flex: 0 0 auto
}
@media (max-width: 991.98px) {
    .header__container,
    .menu__list {
        column-gap: 25px;
    }
    .header__container {
        min-height: 90px;
    }
}
/* Меню бургер */
@media (max-width: 767.98px) {
    .header__container,
    .menu__list {
        column-gap: 15px
    }
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease 0s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 1px);
       
    }
    .menu-open .icon-menu span {
        width: 0;
    }
    .menu-open .icon-menu::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #000;
        left: -100%;
        top: 0;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }
    .menu__body::before {
        content: "";
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: left 0.3s ease 0s;
    }
    .menu-open .menu__body,
    .menu-open .menu__body::before {
    left: 0;
}
    .menu__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .menu__link {
        font-size: 32px;
    }
    .header__container {
        min-height: 70px;
    }
}


@media (max-width: 560px){
    .header__logo {
        width: 36px;
        flex: 0 0 36px;
        overflow: hidden;
    }
    .cart-header__text {
        display: none;
    }
    .cart-header__quantity {
        width: 35px;
        height: 45px;
        padding-left: 5px;
        padding-bottom: 3px;
        background: url("../logo/logo-header/icons8-trolley-64.png") center / auto 100% no-repeat;
    }
}
/* Конец меню бургер */