*, *::before, *::after{
    box-sizing: inherit;
 }
 html {
    box-sizing: border-box;
 }
 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all ease 0.8s 0s;
}
li {
    list-style-type: none;
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
   h1,h2,h3.h4,h5,h6{font-size: inherit; font-weight: 400;}
body {
    margin: 0;
    font-family: "Poppins";
    font-weight: 300;
    color: rgb(156, 156, 156);
    height: 100%;
    background-color: black;
    
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip ;
  
}
[class*="__container"]{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

.page {
    flex: 1 1 auto;
    
}
